<div class="container">
    <nav class="autohide navbar navbar-expand-lg navbar-dark mynavbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ms-auto mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"> Anasayfa </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blogs' %}"> Bloglarım </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>