{% extends "base.html" %}
{% block title %} Bloglar {% endblock %}
{% block content %}
{% for blog in blogs %}
{% if blog.Is_Active %}

<div class="hero-blogs py-2">
    <a href="{% url 'detail' blog.id %}" class="blog-link">
        <div class="blog-img mt-3">
            <img src="{{ blog.Blog_Image.url }}" alt="{{ blog.Blog_Title }}" width="100%">
        </div>
        <div class="blog-name mt-3">
            <h5 class="text-center">
                {{ blog.Blog_Title }}
            </h5>
            <p class="short-desc py-3">
                {{ blog.Blog_Short_Description }}
            </p>
        </div>
    </a>
</div>
{% endif %}

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}